@keyframes btnLoad {
  0% {
    transition: ease 0.3s;
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.navbar {
  width: 402px;
  height: 80px;
  background: #ff7b00;
  border-radius: 20px 20px 0 0;
  .navList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .navItem {
      width: 50px;
      height: 50px;
      list-style: none;
      margin-top: 16px;
      position: relative;
    }
    .navItemMain {
      @extend .navItem;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background: #fff;
        transform-origin: left top;
        transition: transform 0.3s;
        border-radius: 30px;
        animation: 1s btnLoad;
      }
    }
  }
}
