.savingPageContainer {
    max-width: 402px;
    height: 874px;
    color: #333;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.mainContainer {
    width: 100%;
    background-color: #f1f1f1;
    padding-top: 35%;
}

.walletImg {
    position: relative;
    display: block;
    width: 305px;
    height: 311px;
    margin: 0 auto;
}

.numHolder {
    position: relative;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    transform: translateY(-170px);
    // border: #333 2px solid;
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
}

.savingButton {
    position: relative;
    display: block;
    width: 135px;
    height: 55px;
    border-radius: 15px;
    background-color: #fff;
    color: #ff7b00;
    text-align: center;
    font-size: 25px;
    justify-content: center;
    margin: 0 auto;
    transform: translateY(-150px);
    border: none;
}

.numberKeys {
    width: 100%;

    tr {
        width: 100%;
        height: 60px;

        td {
            width: 33.33%;
            height: 100%;
            font-size: 2rem;
            text-align: center;

            button {
                color: #ff7b00;
                font-size: 2.5rem;
                width: 100%;
                height: 100%;
                border: none;
                background-color: #fff;
            }
        }
    }
}